<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    
    <a href = {{product.source}} [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>
  <img src={{product.image}}>

  <p *ngIf="product.description">
    <strong>Description:</strong> {{ product.description }}
    <br>
    <strong>Price:</strong> {{ product.price }}
    <br>
    <strong>Rating:</strong> {{ product.rating }}

    
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
